<app-nav-bar></app-nav-bar>
<body style="background-color: #ffffff;">
    <div class="container">
      <div class="input-group mt-3 mb-3">
        <input [(ngModel)]="this.search" name="filter" type="text" class="form-control confButton" placeholder="Name" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <span class="spanSearch input-group-text"><img class="img-spanSeach" src="../../../assets/img/lupa.png" alt="lupa"></span>
      </div>
        <div>
            <button type="button" class="btnAdd mb-3" data-bs-toggle="modal" data-bs-target="#exampleModalCreateGroup" ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="50" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
              </svg>
                Create Group
            </button>
        </div>
        <div *ngFor="let group of arrayGroups | searchGroup:search" class="card-media">
          <!-- media container -->
          <div class="card-media-object-container">
            <div class="card-media-object" style="background-image: url(../../../assets/img/group.jpg);"></div>
            <ul class="card-media-object-social-list">
            </ul>
          </div>
          <!-- body container -->
          <div class="card-media-body">
            <div class="card-media-body-top">
              <div class="card-media-body-top-icons u-float-right">
              </div>
            </div>
            <div class="text">
              <span class="card-media-body-heading" style="font-size: 1.75rem;">{{group.code}}</span>
              <span class="card-media-body-heading">{{group.career}} ({{group.section}})</span>
              <span class="card-media-body-heading">{{group.time}}</span>
              <span class="card-media-body-heading">Teacher: {{group.idTeacher.name}}</span>
            </div>
            <div class="card-media-body-supporting-bottom card-media-body-supporting-bottom-reveal">
              <a class="card-media-body-supporting-bottom-text card-media-link u-float-right">
                <button (click)="getGroup(group._id)" *ngIf="this.role === 'ADMIN'" data-bs-toggle="modal" data-bs-target="#exampleModalDeleteGroup" type="button" class="btn">Delete</button>
              </a>
              <a class="card-media-body-supporting-bottom-text card-media-link u-float-right">
                <button (click)="getGroup(group._id)" *ngIf="this.role === 'ADMIN'" data-bs-toggle="modal" data-bs-target="#exampleModalUpdateGroup" type="button" class="btn">Update</button>
              </a>
              <a class="card-media-body-supporting-bottom-text card-media-link u-float-right">
                <button *ngIf="this.role === 'TEACHER'" type="button" class="btn">Students</button>
              </a>
              <a class="card-media-body-supporting-bottom-text card-media-link u-float-right">
                <button *ngIf="this.role === 'TEACHER'" type="button" class="btn">About</button>
              </a>
            </div>
          </div>
        </div>
      </div>
</body>

<!--MODAL AGREGAR GRUPO-->

<div class="modal fade" id="exampleModalCreateGroup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="container">
          <div class="modal-content">
              <div class="contact-box">
                  <div class="left"></div>
                  <div class="right">
                      <div class="position-relative">
                          <button type="button" class="btn-close position-absolute top-0 start-100 translate-middle" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <h2>Create Group</h2>
                      <input [(ngModel)]="this.group.code" name="code" type="text" class="field" placeholder="Code">
                      <input [(ngModel)]="this.group.career" name="career" type="email" class="field" placeholder="Career">
                      <div>
                        <span class="infoSelect">Time</span>
                        <select [(ngModel)]="this.group.time" name="time" class="form-select field" aria-label="Default select example">
                          <option disabled selected>Time</option>
                          <option value="Matutina">Matutina</option>
                          <option value="Vespertina">Vespertina</option>
                        </select>
                      </div>
                      <input [(ngModel)]="this.group.section" name="section" type="text" class="field" placeholder="Section">
                      <div>
                        <span class="infoSelect">Teacher</span>
                        <select [(ngModel)]="this.idTeacher" name="teacher" class="form-select field" aria-label="Default select example">
                          <option disabled selected>Teachers</option>
                          <option *ngFor="let teacher of arrayTeachers" value="{{teacher._id}}">{{teacher.name}}</option>
                        </select>
                    </div>
                      <div class="modal-footer">
                          <button (click)="createGroup()" class="btnModal" data-bs-dismiss="modal">Create</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!--MODAL ACTUALIZAR GRUPO-->

<div class="modal fade" id="exampleModalUpdateGroup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="container">
          <div class="modal-content">
              <div class="contact-box">
                  <div class="left"></div>
                  <div class="right">
                      <div class="position-relative">
                          <button type="button" class="btn-close position-absolute top-0 start-100 translate-middle" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <h2>Update Group</h2>
                      <input [(ngModel)]="this.groupUdated.code" name="code" type="text" class="field" placeholder="Code">
                      <input [(ngModel)]="this.groupUdated.career" name="career" type="email" class="field" placeholder="Career">
                      <div>
                        <span class="infoSelect">Time</span>
                        <select [(ngModel)]="this.groupUdated.time" name="time" class="form-select field" aria-label="Default select example">
                          <option disabled selected>Time</option>
                          <option value="Matutina">Matutina</option>
                          <option value="Vespertina">Vespertina</option>
                        </select>
                      </div>
                      <input [(ngModel)]="this.groupUdated.section" name="section" type="text" class="field" placeholder="Section">
                      <div class="modal-footer">
                          <button (click)="updateGroup()" class="btnModal" data-bs-dismiss="modal">Update</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- MODAL ELIMINAR -->
<div class="modal fade" id="exampleModalDeleteGroup" tabindex="-1" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="containerModal">
        <div class="modal-content">
            <div class="contact-box">
                <div class="left"></div>
                <div class="right">
                    <div class="position-relative">
                        <button type="button"
                            class="btn-close position-absolute top-0 start-100 translate-middle"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <h4>Are you sure you want to remove this group?</h4>
                    <button (click)="deleteGroup()" class="btnModal mb-3" data-bs-dismiss="modal">Yes</button>
                    <button  class="btnModal1" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>