
.container {
    padding: 4%;
    background-color: #457b9d;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  
  tr{
    text-align: right;
  }
  
  
  h5{
  
    color: #a8dadc;
  }
  
  .text-field{
    width: 100%;
    background-color: #a8dadc;
    border-width: 0px;
    border-radius: 5px;
  }
  
  
  .align{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  /* Select */
  
  select{
    width: 100%;
    text-align: center;
    font-size: 14.5px;
    cursor: pointer;
    background-color: #a8dadc;
    border: 6px solid #a8dadc;
    border-radius: 5px;
    outline: none;
  }
  select::-ms-expand{
    display: none;
  }
  select:hover{
    background-color: #74afb1;
    border-color: #74afb1;
    font-weight: 600;
  }
  select option{
    background-color: #a8dadc;
    letter-spacing: 1.2px;
    font-weight: 400;
    font-size: 18px;
  }
  .selected{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn{
    width: 100%;
  }