<div class="body fondo">
<app-nav-bar></app-nav-bar>

    <div class="contenedor">

        <div class="title mb-3">

            <h2 class="">{{this.name}}</h2>
        </div>

        <div>
            <button type="button" class="btnAdd mb-3" data-bs-toggle="modal" data-bs-target="#exampleModalCreateReport">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="50" fill="currentColor" class="bi bi-clipboard2-plus-fill" viewBox="0 0 16 16">
                    <path d="M10 .5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5.5.5 0 0 1-.5.5.5.5 0 0 0-.5.5V2a.5.5 0 0 0 .5.5h5A.5.5 0 0 0 11 2v-.5a.5.5 0 0 0-.5-.5.5.5 0 0 1-.5-.5Z"/>
                    <path d="M4.085 1H3.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1h-.585c.055.156.085.325.085.5V2a1.5 1.5 0 0 1-1.5 1.5h-5A1.5 1.5 0 0 1 4 2v-.5c0-.175.03-.344.085-.5ZM8.5 6.5V8H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V9H6a.5.5 0 0 1 0-1h1.5V6.5a.5.5 0 0 1 1 0Z"/>
                </svg>
                Create Report
            </button>
        </div>

        <div  class="align">
            

            <!-- Card -->

            <div *ngFor="let report of arrayReports"  class="card me-3" style="width: 18rem;">
                <div class="card-body">
                    <div class="actividades">
                        <h3>{{report.activities}}</h3>
                        <h4>Learned:</h4>
                        <p>{{report.learned}}</p>
                        <h4>Difficulties:</h4>
                        <p>{{report.difficulties}}</p>
                    </div>

                    <p class="card-text mt-2 mb-1">{{report.dateCreation | date: 'dd/MM/yy': 'UTC'}}</p>
                </div>
            </div>

        </div>

    </div>




</div>


<!--MODAL AGREGAR TEACHER-->

<div class="modal fade" id="exampleModalCreateReport" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="container">
            <div class="modal-content">
                <div class="contact-box">
                    <div class="left"></div>
                    <div class="right">
                        <div class="position-relative">
                            <button type="button" class="btn-close position-absolute top-0 start-100 translate-middle" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <h2 class="h2Modal">Create Report</h2>
                        <input [(ngModel)]="report.activities" name="activities" type="text" class="field" placeholder="Activities">
                        <textarea [(ngModel)]="report.learned" name="learned" type="text" class="field" placeholder="Learned"></textarea>
                        <textarea [(ngModel)]="report.difficulties" name="difficulties" type="text" class="field" placeholder="Difficulties"></textarea>
                        <div class="modal-footer">
                            <button (click)="createReport()" class="btnModal" data-bs-dismiss="modal">Create</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
